{
  "parser": "babel-eslint",
  "extends": ["plugin:react/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["prettier", "react"],
  "rules": {
    //...
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/prop-types": 0,
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": 2,
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ],
    "camelcase": ["error", { "properties": "never" }]
  },
  "globals": {
    "workbox": true,
    "importScripts": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
