{
  "parser": "babel-eslint",
  "extends": [
    "react-app"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["prettier", "react"],
  "rules": {
    //...
    "react/jsx-uses-react": 2,
    "prettier/prettier": "error",
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "quotes": [2, "single", {
      "avoidEscape": true
    }],
    "camelcase": ["error", { "properties": "never"}]
  },
  "globals": {
    "workbox": true,
    "importScripts": true
  }
}
