{
  "extends": "react-app",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "quotes": [2, "single", {
      "avoidEscape": true
    }],
    "camelcase": ["error", { "properties": "never"}]
  }
}
