pre {
    white-space: pre-wrap; 
    white-space: moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    overflow-x: scroll;
    overflow-x: moz-scroll;
    overflow-x: -o-scroll;
}